<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us|Saurabh Gupta </title>
  <link rel="stylesheet" href="static/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity ="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>
  <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
  <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-secoundry bg-secoundry">
    <div class="container-fluid">
      <a class="navbar-brand" href="https://www.linkedin.com/in/saurabh-gupta-02b9371b7" >Saurabh Gupta</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/index">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About Us</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Certificates
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="https://trainings.internshala.com/verify-certificate/?certificate_number=BB14340B-7DC4-48FE-4954-3C14F1B67F68">Ethical Hacking Training by Internshala</a></li>
              <li><a class="dropdown-item" href="https://drive.google.com/file/d/1QMZnmYrm1vKxzDFDyLOEvD0FM9jYC6m-/view?usp=sharing">Ethical Hacking Training by TechUnique Academy</a></li>
              <li><a class="dropdown-item" href="https://infosecawareness.in/validate-certificate?certid=MeitY/ISEA/WCHP/017449">Generic Online Training in Cyber Security</a></li>
              <li><a class="dropdown-item" href="https://codered.eccouncil.org/certificate/cadf386a-4a37-465e-bcfc-82db16be7154?logged=false">Ethical Hacking Essential Cource</a></li>
              <li><a class="dropdown-item" href="https://codered.eccouncil.org/certificate/cb739bee-f87a-48f0-a3a2-f5607368263d?logged=false">Network Defence Essential Cource</a></li>
              <li><a class="dropdown-item" href="https://drive.google.com/file/d/17CgaaR3rE4Bk72nokRmjPVdX95j6Mr8o/view?usp=sharing">Network Security Cource</a></li>
              <li><a class="dropdown-item" href="https://drive.google.com/file/d/16ievQHag4mhQH2kZTvXUDaDRpmNndH6z/view?usp=sharing">Web Development using Django Framework</a></li>
              <li><a class="dropdown-item" href="https://drive.google.com/file/d/1iQg_OeNJi9iYQV_DwEX47LmCm2Sd_cnn/view?usp=sharing">IoT Online Quiz Competition</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contactus">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://drive.google.com/file/d/1FW71Cuz0d8_P7buYNNs3Dq6Co-0SOB3q/view?usp=sharing">Resume</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
  <div class="imag">
    <img src="static/img.png" alt="Paris" class="center images">
    <center>
      <h1>Saurabh Gupta</h1>
      <h2>Penetration Tester</h2>
      <h3>Coder</h3>
    </center>
  </div>

  <div class="ab center">
    <p>I am Saurabh Gupta, a Penetration Tester and Django Developer, I completed my BTech in Computer Science and Engineering from Babu Banarasi Das University, apart from this I have done a summer internship with Aptron to work on several projects. During my college era, I created some self-projects and I did our final year project which was a Web-based chat application based on PHP, Javascript, and Mysql. 
    </p>  
    <p>  The skills I have - Python Programming, Penetration Testing, VAPT, Linux, MySql Database, Computer Networking, Network Security, OOPs Concept, Data Structure, C, Django Framework, Bash Scripting.  
      
    </p><p>  The Software that I work on - is GVM, Nessus, Acunetix, and Metasploit Framework.
    </p> <p> I am excited to work in a position of Software Developer, Security Researcher, Django Developer, Penetration Tester, Information Security Expert, and Network Security Engineer.
      </p>
  </div>
  <div class="foo">
  <div class="footerCont">
    <div class="socialmedia">
      <a class="linked" href="https://www.linkedin.com/in/saurabh-gupta-02b9371b7"><i class="fa-brands fa-linkedin-in"></i></a>
      <a class="github" href="https://github.com/dragonwolf1o1"><i class="fa-brands fa-github"></i></a>
      <a class="hackerrank" href="https://www.hackerrank.com/profile/saurabhgzpgupta"><i class="fa-brands fa-hackerrank"></i></a>
      <a class="tryhackme" href="https://tryhackme.com/p/dragonwolf1o1"><iconify-icon icon="simple-icons:tryhackme"></iconify-icon></a>
    </div>
  </div>
  <div class="footbotom">
    <p>Copyright &copy;2023; Designed by <span class="desi">Saurabh Gupta</span>
    </p>
  </div>
</div>
</body> 
</html>